.footer_container{
  position: fixed;
  bottom: 0;
  background-color: #ffff;
  font-weight:100;
  font-size: 0.8rem;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}
