<div class="menu-bar_container">
  <div class="menu-bar_logo">
    <img src="../../../assets/ps-logo.png" alt="logo" width="140px" height="32px">
  </div>
  <div class="menu-bar_item">
   <ul>
    <li>
      <img src="../../../assets/psn-icon" alt="logo-psn">
      <a href="https://store.playstation.com/pt-br/pages/latest" target="_blank">
        PS STORE
      </a>
    </li>
    <li>
      <img src="../../../assets/linkedin-logo.png" alt="logo-linkedin">
      <a href="https://www.linkedin.com/in/fabianaignacio/" target="_blank">
        LINKEDIN
      </a>
    </li>
    <li>
      <img src="../../../assets/github-logo.png" alt="logo-github">
      <a href="https://github.com/Ignacio-fabianamaria" target="_blank">
        GITHUB
      </a>
    </li>
   </ul>

  </div>
</div>
