<div class="menu-bar_container">
  <div class="menu-bar_logo">
    <img src="../../../assets/ps-logo.png" alt="logo" width="140px" height="32px">
  </div>
  <div class="menu-bar_item">
   <ul>
    <li>
      <img src="../../../assets/psn-icon" alt="logo-psn">
      <a href="">PSN STORE</a>
    </li>
    <li>
      <img src="../../../assets/linkedin-logo.png" alt="logo-linkedin">
      <a href="">LINKEDIN</a>
    </li>
    <li>
      <img src="../../../assets/github-logo.png" alt="">
      <a href="">GITHUB</a>
    </li>
   </ul>

  </div>
</div>
